;; shadow-cljs configuration
{:source-paths
 ["../src/main"]

 :dependencies
 [[workflo/macros "0.2.60"]]

 :builds
 [{:id :library
   :target :npm-module
   :output-dir "src"
   :output-to "src/workflo-entitydb.js"
   :exports {:empty-db workflo.entitydb.core/empty-db}}]}
